*~
*.lo
*.o
.deps
.dirstamp
.libs
Makefile
Makefile.in
/aclocal.m4
/autoconf
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/daemon/dlsd
/dls.spec
/fltkguis/dls_ctl
/fltkguis/dls_view
/lib/libdls.la
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/proto/dls.pb.cc
/proto/dls.pb.h
/stamp-h1
/script/dlsd.service
/script/init.sh
/tool/dls

